@font-face {
    font-family: "Gotham Pro";
    src: url('../fonts/GothamPro/GothamPro.eot');
    src: url('../fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro/GothamPro.woff2') format('woff2'),
    url('../fonts/GothamPro/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro/GothamPro.ttf') format('truetype'),
    url('../fonts/GothamPro/GothamPro.svg#GothamPro') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
img {
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat ;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
}

a:active, a:hover {
    outline: 0;
    text-decoration: none;
}


html {
    box-sizing: border-box;
    height: 100%;
}

:focus {
    outline: 0;
}

label{
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
}
button, input{
    border: none;
    font-size: 100%;
    margin: 0;
    outline: none;
    line-height: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Gotham Pro, sans-serif;
    background-color: #f1f1f1;
}

*, :after, :before {
    box-sizing: border-box;
}
li, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #fff;
    padding: 26px 0;
    width: 100%;
    
}

.logo{
    margin-left: 5px;
    width: 100%;
    height: 100%;;
}
.logo__icon{
    width: 36px;
    
}
.nav-menu__item{
    display: inline-block;
    margin-left: 35px;
}

.nav-menu__link {
    font-size: 14px;
    color: #48494a;
    text-transform: uppercase;
    font-family: "GothamProBold";
}
.nav-menu__link:hover{
      color:#979797;
    }

.title  {
    padding: 20px 0;
    
} 
.title {
    font-size: 30px;
    line-height: 1.2;
    color: #48494a;
    font-family: "GothamProMedium";
}
.button { 
    color: #fff;
    font-size: 10px;
}

.button_red {
    font-weight: 200;
    font-size: 14px;
    padding: 9px 25px;
    cursor: pointer;
    background-color: #e43030;
    border-radius: 5px;
    box-shadow: 0 6px 10px .50px rgba(250, 25, 25, .45);
    transition: box-shadow .3s ease, transform .1s ease;
}

.button_red:hover {
    box-shadow: none;
    color: #fff;
}

.button_red:active {
    transform: scale(1.05);
}


.card{
    height:100%;
    background-color: #fff;
    box-shadow: 0 5px 4.6px .4px rgba(23, 24, 25, .05);
    transition: box-shadow .3s ease;
    max-width:330px;
    cursor: pointer;
    position: relative;
}

.card:hover {
     box-shadow: 4px 10px 14px 10px rgba(23, 24, 25, .1);
}

.card__head {
    height: auto;
    position: relative;
}
.card__head:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index:1;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__icon{
    height: 238px;
}
.card__label {
    font-size: 10px;
    color: #3c3c3c;
    padding: 5px 10px;
    background-color: #ffc600;
    top: 12px;
}
.card__company {
    bottom: 10px;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    z-index: 20;
    line-height: 20px;
}

.card__label:before {
    position: absolute;
    content: "";
    left: 0;
    top: 100%;
    z-index:2;
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-top: 8px solid #ffc600;
    border-left: 0 solid rgba(0, 0, 0, 0)
}
.card__label, .card__company {
    position: absolute;
    left: 20px;
    font-weight: 600;
    z-index:3;
    text-transform: uppercase;
}

.card__favorite {
    top: 12px;
    right: 21px;
    position: absolute;
    z-index:3;
    width: 30px;
    height: 28px;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 5px;
}

.favorite_img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index:4;
    transform: translate(-50%, -50%);
    fill: #fff;
}
.card__favorite .favorite_img:active{
    fill: #ff0000;
}

.card__footer {
    margin: 12px 20px 23px;
    font-size: 14px;
    font-weight: 200;
    color: #48494a;

}
.card__location{
    display: inline-block;
    vertical-align: middle;
}
.card__address {
    font-size: 14px;
    color: #48494a;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.429em;
    height:1.429em;
}
.card__metro {
    position: absolute;
   
    z-index:13;
}
.card__metro_icon {
    width: 24px;
}
.price__text{
    color: #161617;
    font-size: 18px;
    background-color: #fffbd7;
    padding: 8px 16px 8px 6px;
    
}

.card__text, .card__price  {
    margin-top:8px;
    display: inline-block;
    vertical-align: middle;
}

.card__text{  
    color: #80848d;
    margin-left: 1px;
    font-size: 12px;
}
.card__text span{
     font-family: "GothamProBold";
}
.price__text span {
    margin-left: 5px;
    font-family: "GothamProBold";
}
.section-promo {
    background-color: #f9f9f9;
    
    margin: 115px 0 0;
    
    position: relative;
    padding: 50px 75px 70px 0;
}

.section-promo::before {
    content: "";
    background-color: #f9f9f9;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    margin-top: -50px;
    z-index: -1;
}


.promo:hover {
    transition: 300ms all ease-in-out;
    box-shadow: 0px 8px 12.75px 2.25px rgba(23, 24, 24, 0.1);
  }

.promo {
    height: 100%;
    padding: 0 0 60px;
    cursor: pointer;
    background-color: white;
    position: relative;
    box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 24, 0.05);
    transition: 300ms all ease-in-out;
    
}
.promo__head{
    position: relative;
    height: auto;
  
     
}
.promo__icon{
    max-height: 250px;
    min-height: 250px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    vertical-align: middle
}
.promo__head:before {
    position: absolute;
    z-index:5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    }

.promo:hover {
    box-shadow: 0 8px 12.75px 2.25px rgba(23, 24, 25, .1);
}

.promo__name {
	 font-family: "Gotham Pro";
    font-weight: 600;
    position: absolute;
    bottom: 8px;
    font-size: 14px;
    left: 20px;
    color: white;
    text-transform: uppercase;
    z-index: 6;
    line-height: 20px;
}

.promo__head.promo__name  {
    bottom: 36px;
    }


.promo__info {
    padding: 18px;
}

.promo__info {
   font-family: "Gotham Pro";
   color: #48494a;
   overflow: hidden;
   text-overflow: ellipsis;
   line-height: 1.429em;
    height: 5.716em;    
   font-size: 14px;
  
}

.promo__date{
    position: absolute;
    z-index:7;
    bottom: 37px;
    color: #80868e;
    font-size: 13px;
}

.promo__head .promo__name {
    bottom: 36px;
}


.form{
    
    height: max-content;
    background-color: #f1f1f1;
    width: 100%;
}
.form--subscription {
     padding-top: 183px;
}

.form__head{
  	font-size: 100%;
    vertical-align: baseline;
    padding: 20px;
 } 

.form__title{
   font-size: 30px;
   font-family: GothamProMedium;
   color: #48494a;
}
.form__entry{
	font-size:14px;
    color:#48494a;
    margin-top: 18px;
}

.control{
   position: relative;
   display: block;
   width: 100%;
   max-width: 100%;
   padding: 20px;
}
.control__label{
	font-size:14px;
   color:#48494a;
  
}
 .button--submit{
   width: 100%;
   max-width:400px;
   height: 55px;
   background-color: red;
   text-transform: uppercase;
   font-size: 14px;
   text-align: center;   
}

  

.button--submit:hover{
    border-color: #ea0303;
    background-color: #fff;
    text-decoration: none;
    background-image: linear-gradient(to right, rgba(226,13,13,1), rgba(255,0,0,1));
    box-shadow: 0 6px 10px .50px rgba(250, 25, 25, .45);
	
}
.control__field{
	max-width:400px;
	padding: 20px;
	 margin-top:15px;
	 width: 100%;
	font-size: 14px;
    color: #a2a2a2;
    box-shadow: 0 5px 4.6px 0.4px rgba(23,24,25,.05);
    transition: box-shadow .3s ease,-webkit-box-shadow .3s ease;
    border: 1px solid #fff;
}


.control__field:focus {
   border: 1px solid #aca5a5;
    }
.control__field:hover {
    border: 1px solid #aca5a5;
    }



.footer{
    width: 100%;
    padding-top:30px;
    background-color: #fff;
    padding-bottom: 30px;
}

.socials {
    max-width: 175px;
    width: 100%;
    margin: 0 15px 0;
}

.socials__title {
    color: #80868e;
    font-size: 14px;
}
.socials__list{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.socials__icon svg{
    width: 24px;
    height: 24px;
    transition: 300ms all ease-in-out;
    cursor: pointer;
}

.socials__icon:hover path{
    transition: 300ms all ease-in-out;
    fill: rgb(219,22,63);
}

.developers {
    display: flex;
    line-height: 20px;
    cursor: pointer;
    margin-right: 28px;
    padding-right:50px;
}

.developers__logo {
    margin: 5px 10px 0;
}

.developers__info {
    font-size: 12px;
    color: #80868e;
}

.developers__name {
   font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
    color: #121212;
}
.developers__img:hover{
    background-image:linear-gradient( -20deg, rgb(219,22,63) 0%, rgb(165,20,82) 100%);
}








@media (max-width: 1140px) {
    .section-promo {
        padding-right: 30px;
        margin-right: 30px;
    }
    .form{
    padding-top: 50px;
    
}
}

@media (max-width: 1000px) {
    .title {
        font-size: 20px;
    }
    
}




@media (max-width: 576px) {
    ontrol--submit{
        padding-top: 0;
        }
    .promo {
        padding-top: 20px;
    }
    .form{
    	padding-top:20px;
    }
   .developers {
    
    margin-right: 0;
    padding-right:0;
    }
    .nav-menu__link{
        font-size: 10px;
    }
    .nav-menu__item{
    display: inline-block;
    margin-left: 15px;
    }

    .socials {
        margin: 0 auto;
        justify-content: center;
    }

    .socials__title {
        text-align: center;
    }
    
    .promo {
        margin: 20px 0;
    }
}
@media (max-width: 400px) {
    .developers {
        margin-top: 30px;
    }
   
}


